<launch>

  <include file="$(find realsense_camera)/launch/sr300_nodelet_rgbd.launch" />

  <!-- <include file="$(find aruco)/launch/realsense.launch" /> -->

  <include file="$(find branch_surface)/launch/frame_broadcaster_realsense.launch" />

  <node name="milling_path" pkg="ur3_milling" type="milling_path_node" respawn="false" output="screen">
    <rosparam command="load" file="$(find ur3_milling)/config/milling_param.yaml"/>
  </node>
  
  <node pkg="object_detection" type="object_pose_refinement_service" name="object_pose_refinement_service" output="screen">
   <rosparam command="load" file="$(find branch_surface)/params/refinement.yaml"/>
   <param name="point_cloud_topic" value ="/camera/depth_registered/points" />
  </node>
  
    <node pkg="object_detection" type="object_detection_service" name="object_detection_service" output="screen">
   <rosparam command="load" file="$(find branch_surface)/params/detection.yaml"/>
   <param name="point_cloud_topic" value ="/camera/depth_registered/points" />
  </node>



</launch>
