<launch>

  <!-- <include file="$(find realsense_camera)/launch/sr300_nodelet_rgbd.launch" /> -->

  <!-- <include file="$(find aruco)/launch/realsense.launch" /> -->

  <node type="static_transform_publisher" pkg="tf" name="object_frame_broadcaster"
		args = "0.372 0.05 0.0
		0 0 0 1
		object_frame world 10"/>

    <node type="static_transform_publisher" pkg="tf" name="realsense_broadcaster"
  		args = "-0.217, -0.009, 0.593
-0.012, 0.610, 0.031, 0.792
  		object_frame camera_link 10"/>

  <node name="milling_path" pkg="ur3_milling" type="milling_path_node" respawn="false" output="screen">
    <rosparam command="load" file="$(find ur3_milling)/config/milling_param.yaml"/>
  </node>

    <node pkg="object_detection" type="object_detection_service" name="object_detection_service" output="screen">
   <rosparam command="load" file="$(find object_registration)/params/detection.yaml"/>
   <param name="point_cloud_topic" value ="/camera/depth_registered/points" />
  </node>



</launch>
