<launch>

    <arg name="kinect" default="false"/>
    <!-- send pr2 urdf to param server -->
    <group if="$(arg kinect)">
      <param name="robot_description" command="$(find xacro)/xacro.py --inorder '$(find fanuc_lrmate200id_support)/urdf/lrmate200id_goodhand.xacro'" />
    </group>
    <group unless="$(arg kinect)">
      <param name="robot_description" command="$(find xacro)/xacro.py --inorder '$(find fanuc_lrmate200id_support)/urdf/lrmate200id_goodhand.xacro'" />
    </group>


  <include file="$(find fanuc_lrmate200id_moveit_config)/launch/planning_context.launch"/>

  <node name="planning_scene_tutorial" pkg="grasp_and_place" type="planning_scene_tutorial" respawn="false" output="screen">
    <rosparam command="load" file="$(find fanuc_lrmate200id_moveit_config)/config/kinematics.yaml"/>
  </node>
</launch>
