<launch>

  <arg name="sim"             default="false" />
  <arg name="camera"          default="sr300" />

  <node name="set_grasping_pose" pkg="grasp_and_place" type="set_grasping_pose_node" respawn="false" output="screen">
    <rosparam command="load" file="$(find grasp_and_place)/config/set_grasping_pose_parameters.yaml"/>
    <param name="sim" value="$(arg sim)" />
  </node>

  <include file="$(find object_detection)/launch/frame_broadcaster.launch" />
  <include file="$(find realsense_camera)/launch/sr300_nodelet_rgbd.launch">
    <arg name="camera"        value="$(arg camera)"/>
  </include>

  <node pkg="object_detection" type="object_pose_refinement_service" name="object_pose_refinement_service" output="screen">
   <rosparam command="load" file="$(find object_detection)/params/refinement.yaml"/>
  </node>

</launch>
