<?xml version="1.0"?>
<launch>
  <arg name="limited"                       default="false"/>
  <arg name="paused"                        default="true"/>
  <arg name="gui"                           default="false"/>
  <arg name="x"                             default="0.0"/>
  <arg name="y"                             default="0.0"/>
  <arg name="z"                             default="0.0"/>
  <!-- Setting initial joint values seems not to work at the moment -->
  <!--<arg name="shoulder_pan_joint"            default="0.0"/>-->
  <!--<arg name="shoulder_lift_joint"           default="0.0"/>-->
  <!--<arg name="elbow_joint"                   default="0.0"/>-->
  <!--<arg name="wrist_1_joint"                 default="0.0"/>-->
  <!--<arg name="wrist_2_joint"                 default="0.0"/>-->
  <!--<arg name="wrist_3_joint"                 default="0.0"/>-->

  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="worlds/empty.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!-- send robot urdf to param server -->
  <include file="$(find ur_description)/launch/ur10_table_gripper.launch">
    <arg name="limited" value="$(arg limited)"/>
  </include>

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot
  -x $(arg x)
  -y $(arg y)
  -z $(arg z)"
  respawn="false" output="screen" />

  <include file="$(find ur_gazebo)/launch/controller_utils.launch"/>

  <rosparam file="$(find ur_gazebo)/controller/arm_controller_ur10.yaml" command="load"/>
  <node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn arm_controller" respawn="false" output="screen"/>

  <!-- publish fts feedback -->
  <!-- <node name="ft_sensor_publisher" pkg="robotiq_force_torque_sensor" type="fts_msg_converter.py" output="screen"/> -->

</launch>
